svg {
font: 10px sans-serif;
}
svg .myrect_tree:hover {
fill: red;
}
svg .text {
fill: black;
}
svg .myrectcredit {
            fill: #c7d62a;
            stroke-width: 0px;
        }
svg .myrectcredit:hover {
            fill: #997a00;
        }
svg .myrectlender {
            fill: #08C177;
            stroke-width: 0px;
        }
svg .myrectlender:hover {
            fill: #258e25;
        }
h1{
	text-align: center;
}
body {
margin: 0;
background-color: ##f2fbfb;
font-style: oblique;

}
.bar {
fill: #41ad50;
}
.axis path,
.axis line {
fill: none;
stroke: #D4D8DA;
stroke-width: 1px;
shape-rendering: crispEdges;
}
.x path {
display: none;
}
.toolTip {
position: absolute;
display: none;
min-width: 70px;
height: auto;
background: none repeat scroll 0 0 #ffffff;
border: 1px solid #41ad50;
padding: 16px;
text-align: center;
			}

    svg .myrect {
      fill: steelblue;
      stroke-width: 0px;
    }

    svg .myrect:hover {
      fill: red;
    }

    .all-states {
      fill: none;
    }

    .state:hover {
      fill: red;
    }

    .state-border {
      fill: none;
      stroke: #fff;
      stroke-linejoin: round;
    }
.ddlabel {
clear: both;
width:90%;
float:left;
text-align:right;
}
.statusDD{
width:10%;
float:left;
}
.mapContainer{
height:300px;
text-align:center;
}
.mapSVG{
height:100%;
padding-left:20px;
}
.mapSVG > g {
transform:scale(0.4);
}

.row1 {
    border: 1px solid #ddd;
    background-color: #F3F6F6;
    float: left;
    width: 32.7%;
height:220px;
padding: 3px 0;
}
.row2 {
    border: 1px solid #ddd;
    background-color: #F3F6F6;
    float: left;
    width: 32.7%;
    height: 265px;
padding: 10px 0;
}
.logo {
height:50px;
width:150px;
}
.logoContainer {
float:left;
width:35%;
}
.headerContainer{
float:left;
}
header {
background-color:#000000;
height: 70px;
}
.row {
color: #fff;
    padding-left: 14px;
    padding-top: 4px;
}
.chartContainer{
display:block;
margin-left:20px;
}
.chartTitle {
color: #101f30;
font-size: 20px;
padding-top:8px;
}
.donutsvg > g{
transform:scale(0.8);
}

.piechartsvg > g{
transform:scale(0.8);
}
.CreditScoreSVG {

padding:40px 0;
}

.legendPie,.legendDonut  {

font-size:13px;
}
